@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 style="color: red;">Toegang geweigerd</h1>
<p>U heef geen toegangrechten. Bij vragen kan u terecht bij ICT support</p>
<p>Gandalf The Grey; <q>U shall not pass.</q></p>